# MacOS
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log
yarn.lock

# Android
.gradle/
build/
*.apk
*.aar
*.jks
*.keystore
!debug.keystore

# iOS
ios/build/
ios/Pods/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate

# React Native
.expo/
.expo-shared/
.watchmanconfig

# IDEs
.idea/
.vscode/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
local.properties

# Custom
.gradle_home/
.artifacts/
